.auth-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.brand-full-logo {
  margin: 40px;
}

.auth-container {
  height: 80vh;
  width: 80%;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
}

.auth-container > div {
  width: 50%;
  height: 100%;
}

.auth-slider .slick-list,
.auth-slider .slick-list .slick-track,
.auth-slider .slick-list .slick-track .slick-slide,
.auth-slider .slick-list .slick-track .slick-slide div,
.auth-slider .slick-list .slick-track .slick-slide div div {
  height: 100%;
}

.auth-slider .slick-dots {
  top: 40px;
  left: -30%;
}

.slider-img {
  position: relative;
}

.slider-img img {
  height: 100%;
  width: 100%;
}

.slider-img h2 {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 3em;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  padding: 20px 30px;
}

.signin-container {
  padding: 60px;
}

.signin-container h2 {
  color: #0000ff;
  font-size: 2em;
  margin-bottom: 5px;
}

.signin-container p {
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.signin-container p span {
  margin-left: 2px;
}

.sign-in-form {
  margin-top: 40px;
}

.input-group {
  margin-bottom: 15px;
  width: 60%;
}

.input-group .input {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
}

.input-group .input.error {
  border: 2px solid #ff0000;
}

.input span {
  padding: 7px 10px;
}

.input input {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  font-weight: 500;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2em;
}

.input.error input::placeholder {
  color: #ff0000;
}

.input.error span {
  color: #ff0000;
}

.sign-in-btn {
  padding: 10px 30px;
  border-radius: 7px;
  background-color: #0000ff;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  cursor: pointer;
  margin: 30px 0px 15px 0px;
  font-family: "Exo", sans-serif;
  transition: 0.4s;
  opacity: 1;
}

.sign-in-btn.disabled {
  opacity: 0.4;
  cursor: no-drop;
}

.form-error {
  font-size: 0.7em;
  font-weight: 600;
  color: #ff0000;
}

.switch .MuiTypography-root {
  font-size: 0.8em;
}

.other-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.other-links button {
  font-family: "Exo 2", sans-serif;
  background: transparent;
  border: none;
  outline: none;
  color: #0000ff;
  margin-bottom: 5px;
}

.signup-form-select {
  width: 80%;
  border: none;
  outline: none;
  padding-right: 20px;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
}

.otp {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.otp-container input {
  padding: 10px;
  width: 50px !important;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0000ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2em;
}

.otp-container span {
  margin: 0px 0px 0px 15px;
  background: #000;
}

@media (max-width: 1024px) {
  .auth-container {
    flex-direction: column;
  }

  .auth-container > div {
    width: 100%;
  }

  .signin-container {
    padding: 30px;
  }

  .auth-slider {
    display: none;
  }

  .sign-in-form .input-group {
    width: 100%;
  }

  .signin-container p {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
  }

  .signin-container h2 {
    text-align: center;
  }

  .signin-container p span {
    display: none;
  }

  .sign-in-btn {
    width: 100%;
  }

  .signup-form-select {
    width: 85%;
    border: none;
    outline: none;
    padding-right: 20px;
  }

  .otp {
    justify-content: center;
  }

  .otp-container input {
    padding: 5px;
    width: 40px !important;
  }
}
