@import url(https://fonts.googleapis.com/css2?family=Martel+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;800;900&display=swap);

/* body {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

* {
  margin:0;padding:0}*/

/* body {
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

* {
  margin:0;padding:0}*/

body {
  box-sizing: border-box;
  font-family: "Martel Sans", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Exo 2", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
}
